<div class="container mt-4">
  <h4 class="mb-3">Kedvenc termékeim</h4>

  <div *ngIf="isLoading" class="text-center mt-5">
    <div class="spinner-border" role="status"></div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="!isLoading && favourites.length === 0" class="text-muted">
    Még nincsenek kedvenc termékeid.
  </div>

  <div *ngIf="favourites.length > 0" class="row g-3">
    <div *ngFor="let product of favourites" class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm">
                      <img
        *ngIf="product.firstImage"
        [src]="product.firstImage"
        class="card-img-top"
        alt="Termékkép"
      />

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="fw-bold">{{ product.price | currency:'HUF' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
