<div class="container mt-5">
  <h3 class="mb-3 text-center">Jelszó visszaállítása</h3>

  <div class="mt-3">
    <input
      type="email"
      [(ngModel)]="forgotEmail"
      placeholder="Add meg az email címed"
      class="form-control mb-3"
    />
    <button class="btn btn-primary w-100" (click)="sendResetLink()">Küldés</button>
  </div>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>
