<h2 class="container mt-3">Add el nem használt horgászcuccaid</h2>

<form [formGroup]="productForm" (ngSubmit)="saveProduct()" novalidate>

  <!-- Termék neve -->
  <div class="mb-3 container">
    <label for="productName" class="form-label">Termék neve</label>
    <input type="text"
           formControlName="name"
           class="form-control"
           id="productName"
           placeholder="Add meg a termék nevét"
           [ngClass]="{'is-invalid': productForm.controls['name'].invalid && productForm.controls['name'].touched}">
  <div *ngIf="productForm.controls['name'].touched && productForm.controls['name'].errors?.['required']" class="invalid-feedback">
    Termék neve megadása kötelező.
  </div>
  
  <div *ngIf="productForm.controls['name'].touched && productForm.controls['name'].errors?.['minlength']" class="invalid-feedback">
    A termék neve legalább 3 karakter hosszú kell legyen.
  </div>
  </div>

  <!-- Leírás -->
<div class="mb-3 container">
  <label for="productDescription" class="form-label">Leírás</label>
  <textarea
         formControlName="description"
         class="form-control"
         id="productDescription"
         rows="3"
         placeholder="Add meg a termék leírását"
         [ngClass]="{'is-invalid': productForm.controls['description'].invalid && productForm.controls['description'].touched}">
  </textarea>
  <div *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].touched" class="invalid-feedback">
    Leírás megadása kötelező.
  </div>
</div>


  <!-- Ár -->
  <div class="mb-3 container">
    <label for="productPrice" class="form-label">Ár</label>
    
    <div class="input-group">
      <input type="number"
            formControlName="price"
            class="form-control"
            id="productPrice"
            placeholder="Add meg az árat"
            [ngClass]="{'is-invalid': productForm.controls['price'].invalid && productForm.controls['price'].touched}">
      <span class="input-group-text">Ft</span>
    </div>

    <div *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched" class="invalid-feedback">
      Ár megadása kötelező.
    </div>

    <!-- Checkbox az ár nullázásához az input alatt -->
    <div class="form-check mt-2">
      <input class="form-check-input"
            type="checkbox"
            id="freePrice"
            (change)="onFreePriceChange($event)">
      <label class="form-check-label" for="freePrice">
        Ingyenes termék
      </label>
    </div>
  </div>


  <div class="mb-3 container">
  <label for="productType" class="form-label">Kategória</label>
  <select
         formControlName="type_id"
         id="productType"
         class="form-select"
         [ngClass]="{'is-invalid': productForm.controls['type_id'].invalid && productForm.controls['type_id'].touched}">
            <option value="" disabled selected hidden>Válassz kategóriát</option>
            <option value="1">Botok</option>
            <option value="2">Orsók</option>
            <option value="3">Zsinórok</option>
            <option value="4">Csalik/Bojlik/Etetőanyagok</option>
            <option value="5">Műcsalik</option>
            <option value="6">Horgok</option>
            <option value="7">Súlyok/Ólmok/Kosarak</option>
            <option value="8">Úszók</option>
            <option value="9">Hálók/Merítők</option>
            <option value="10">Kiegészítő tartozékok</option>
            <option value="11">Elektronika</option>
            <option value="12">Sátrak/Ernyők</option>
            <option value="13">Botzsákok/Táskák</option>
            <option value="14">Székek</option>
            <option value="15">Féder kiegészítők</option>
            <option value="16">Verseny ládák</option>
            <option value="17">Kapásjelzők/Halradarok</option>
            <option value="18">Aprócikkek</option>

  </select>
  <div *ngIf="productForm.controls['type_id'].invalid && productForm.controls['type_id'].touched" class="invalid-feedback">
    Kategória kiválasztása kötelező.
  </div>
</div>

<div class="mb-3 container">
  <label for="postalCode" class="form-label">Irányítószám</label>
  <input type="text"
         formControlName="postalCode"
         class="form-control"
         id="postalCode"
         placeholder="Pl. 1061"
         (input)="getCityByZip()">
</div>

<div class="mb-3 container">
  <label for="city" class="form-label">Város</label>
  <input type="text"
         formControlName="city"
         class="form-control"
         id="city"
         [readonly]="isCityReadonly"
         placeholder="Automatikusan kitöltve vagy kézzel megadható">
</div>






  <div class="container mb-3">
    <app-pics-upload class="container"></app-pics-upload>
    <button type="submit" class="btn btn-primary mt-3">Hirdetés mentése</button>
  </div>

</form>
