<h2 class="container mt-3">Add el nem használt horgászcuccaid</h2>

<form [formGroup]="productForm" (ngSubmit)="saveProduct()" novalidate>

  <!-- Termék neve -->
<div class="mb-3 container">
  <label for="productName" class="form-label">Termék neve <span class="text-danger">*</span></label>
  <input
    type="text"
    formControlName="name"
    id="productName"
    class="form-control"
    placeholder="Add meg a termék nevét"
    [ngClass]="{'is-invalid': productForm.get('name')?.invalid && productForm.get('name')?.touched}"
  />

  <div *ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid" class="invalid-feedback d-block">
    <div *ngIf="productForm.get('name')?.errors?.['required']">Termék megadása szükséges.</div>
    <div *ngIf="productForm.get('name')?.errors?.['minlength']">Product minimum 3 karakter kell legyen.</div>
    <div *ngIf="productForm.get('name')?.errors?.['maxlength']">Product maximum 50 karakter lehet.</div>
    <div *ngIf="productForm.get('name')?.errors?.['pattern']">A terméknév nem állhat csak számokból.</div>
  </div>
</div>



  <!-- Leírás -->
<div class="mb-3 container">
  <label for="productDescription" class="form-label">Leírás <span class="text-danger">*</span></label>
  <textarea
    formControlName="description"
    id="productDescription"
    rows="3"
    class="form-control"
    placeholder="Add meg a termék leírását"
    [ngClass]="{'is-invalid': productForm.get('description')?.invalid && productForm.get('description')?.touched}">
  </textarea>

  <div *ngIf="productForm.get('description')?.errors?.['maxlength']" class="invalid-feedback d-block">
    A leírás maximum 2000 karakter lehet.
  </div>
</div>



  <!-- Ár -->
<div class="mb-3 container">
  <label for="productPrice" class="form-label">
    Ár <span class="text-danger">*</span>
  </label>

  <div class="input-group">
    <input
      type="number"
      formControlName="price"
      id="productPrice"
      class="form-control"
      placeholder="Add meg az árat"
      [ngClass]="{'is-invalid': productForm.get('price')?.invalid && productForm.get('price')?.touched}">
    <span class="input-group-text">Ft</span>
  </div>

  <div *ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid"
       class="invalid-feedback d-block">
    <div *ngIf="productForm.get('price')?.errors?.['required']">Az ár megadása kötelező.</div>
    <div *ngIf="productForm.get('price')?.errors?.['pattern']">Az ár csak szám lehet.</div>
    <div *ngIf="productForm.get('price')?.errors?.['max']">Az ár nem lehet nagyobb, mint 99 999 999.</div>
  </div>

  <!-- ✅ Checkbox bent a containerben -->
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" id="freePrice" (change)="onFreePriceChange($event)">
    <label class="form-check-label" for="freePrice">
      Ingyenes termék
    </label>
  </div>
</div>



  <div class="mb-3 container">
  <label for="productType" class="form-label">Kategória <span class="text-danger">*</span> </label> 
  <select
         formControlName="type_id"
         id="productType"
         class="form-select"
         [ngClass]="{'is-invalid': productForm.controls['type_id'].invalid && productForm.controls['type_id'].touched}">
            <option value="" disabled selected hidden>Válassz kategóriát</option>
            <option value="1">Botok</option>
            <option value="2">Orsók</option>
            <option value="3">Zsinórok</option>
            <option value="4">Csalik/Bojlik/Etetőanyagok</option>
            <option value="5">Műcsalik</option>
            <option value="6">Horgok</option>
            <option value="7">Súlyok/Ólmok/Kosarak</option>
            <option value="8">Úszók</option>
            <option value="9">Hálók/Merítők</option>
            <option value="10">Kiegészítő tartozékok</option>
            <option value="11">Elektronika</option>
            <option value="12">Sátrak/Ernyők</option>
            <option value="13">Botzsákok/Táskák</option>
            <option value="14">Székek</option>
            <option value="15">Féder kiegészítők</option>
            <option value="16">Verseny ládák</option>
            <option value="17">Kapásjelzők/Halradarok</option>
            <option value="18">Aprócikkek</option>

  </select>
  <div *ngIf="productForm.controls['type_id'].invalid && productForm.controls['type_id'].touched" class="invalid-feedback">
    Kategória kiválasztása kötelező.
  </div>
</div>

  <div class="mb-3 container">
    <label for="productCondition" class="form-label">Állapot  <span class="text-danger">*</span> </label>
    <select
          formControlName="condition"
          id="productCondition"
          class="form-select"
          [ngClass]="{'is-invalid': productForm.controls['condition'].invalid && productForm.controls['condition'].touched}">
      <option value="" disabled hidden>Válassz állapotot</option>
      <option value="új">Új</option>
      <option value="újszerű">Újszerű</option>
      <option value="jó állapotú">Jó állapotú</option>
      <option value="használt">Használt</option>
    </select>
    <div *ngIf="productForm.controls['condition'].invalid && productForm.controls['condition'].touched" class="invalid-feedback">
      Állapot kiválasztása kötelező.
    </div>
  </div>



<div class="mb-3 container">
  <label for="postal_code" class="form-label">
    Irányítószám <span class="text-danger">*</span>
  </label>
  <input type="text"
         formControlName="postal_code"
         class="form-control"
         id="postal_code"
         placeholder="Pl. 1061"
         (input)="getCityByZip()">

  <div *ngIf="productForm.get('postal_code')?.touched && productForm.get('postal_code')?.invalid"
       class="text-danger small mt-1">
    <div *ngIf="productForm.get('postal_code')?.errors?.['required']">
      Az irányítószám megadása kötelező.
    </div>
    <div *ngIf="productForm.get('postal_code')?.errors?.['pattern']">
      Az irányítószámnak 4 számjegyből kell állnia.
    </div>
  </div>
</div>


<div class="mb-3 container">
  <label for="city" class="form-label">
    Város <span class="text-danger">*</span>
  </label>
  <input type="text"
         formControlName="city"
         class="form-control"
         id="city"
         [readonly]="isCityReadonly"
         placeholder="Automatikusan kitöltve vagy kézzel megadható">

  <div *ngIf="productForm.get('city')?.touched && productForm.get('city')?.invalid"
       class="text-danger small mt-1">
    A város megadása kötelező.
  </div>
</div>



<div *ngIf="showPhoneInput" class="mb-3 container">
  <label for="phone_number" class="form-label">Telefonszám <span class="text-danger">*</span></label>
  <input type="text"
         formControlName="phone_number"
         class="form-control"
         id="phone_number"
         placeholder="Add meg a telefonszámodat"
         [ngClass]="{
           'is-invalid': productForm.controls['phone_number'].invalid && productForm.controls['phone_number'].touched
         }">

  <div *ngIf="productForm.controls['phone_number'].hasError('required')" class="invalid-feedback">
    Telefonszám megadása kötelező.
  </div>

  <div *ngIf="productForm.controls['phone_number'].hasError('phoneExists')" class="invalid-feedback">
    Ez a telefonszám már létezik az adatbázisban.
  </div>
</div>








  <div class="container mb-3">
    <app-pics-upload class="container"></app-pics-upload>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="productForm.invalid">Hirdetés mentése</button>
  </div>

</form>
