<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="images/fishdrobe5.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <input type="text"
         id="login"
         formControlName="login"
         class="fadeIn second"
         placeholder="Felhasználónév vagy email">

  <input type="password"
         id="password"
         formControlName="password"
         class="fadeIn third"
         placeholder="Jelszó">

  <input type="submit"
         class="fadeIn fourth"
         value="Belépés">
</form>

    <div class="text-center fadeIn fifth">
      Nincs még fiókod? <a href="/register">Regisztrálj</a>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Elfelejtetted a jelszavad?</a>
    </div>

  </div>
</div>