<div class="d-flex justify-content-center align-items-center">
  <div class="text-center p-4 border rounded shadow" style="max-width: 500px; background-color: #f8f9fa;">
    
    <img src="images/registerSuccessful.png" alt="Sikeres regisztráció ikon" class="mb-3" style="width: 80px; height: 80px;">
    
    <h1 class="mb-3">Véglegesítsd a regisztrációd</h1>
    
    <h5 class="mb-2">A <strong>{{email}}</strong> e-mail címre kiküldtük a fiók véglegesítéséhez szükséges kódot.</h5>
    
    <h5 class="mb-4">Kérjük, nyisd meg levelünket és kattints az abban található linkre.</h5>
    
    <button (click)="navigateToLogin()" class="btn btn-dark ms-auto">Belépek</button>
    
  </div>
</div>
